Package: com.joeyio.flexloader
Conflicts: com.joeyio.flexloader
Replaces: com.joeyio.flexloader
Name: Flipboard FLEX Loader
Version: 1.3.0
Architecture: iphoneos-arm
Depends: mobilesubstrate, preferenceloader, applist
Maintainer: Xueshi Qiao <qiaoxueshi@gmail.com>
Author: Xueshi Qiao <qiaoxueshi@gmail.com>
Section: Tweaks
Description: dynamically loads FLEX(Flipboard Explorer) into applications
 FLEXLoader dynamically loads FLEXDylib.dylib into iOS apps
 on jailbroken devices. Configuration is via the FlexLoader menu in Settings.app

 FELX is updated to 2.3.0 version
Tag: role::developer, purpose::extension
